<h2>Employee: <%= @employee.name() %></h2>
<hr>

<% if @employee_projects.any? %>
  <h3> Currently working on: </h3>
  <ul>
    <%@employee_projects.each do |project|%>
      <li><%=project.name%></li>
    <%end%>
  </ul>

<% else %>
    <p>Employee has not yet been assigned to a project.</p>
    <p><a href="/projects">Add a project to the database</a></p>
<% end %>
<hr>

<h3>Update employee's information:</h3>
  <form action="/employees/<%= @employee.id() %>" method="post">
  <input name="_method" value="patch" type="hidden">
  <% if @unassigned_projects.any? %>
    <label>Add projects</label><br>
    <% @unassigned_projects.each do |project|%>
      <label>
        <%="<input type='checkbox' name='projects_to_add[]' value='#{project.id}'> #{project.name}"%>
      </label><br>
    <% end %>
  <% end %>

  <% if @employee_projects.any? %>
    <label>Remove employee from projects</label><br>
    <% @employee_projects.each do |project|%>
      <label>
        <%="<input type='checkbox' name='projects_to_delete[]' value='#{project.id}'>#{project.name}"%>
      </label><br>
    <% end %>
  <% end %>
  <button type="submit">Submit</button>
</form>
<hr>
