<h2><%= @project.name() %></h2>
<hr>

<% if @project_employees.any? %>
  <h3> Current employees: </h3>
  <ul>
    <%@project_employees.each do |employee|%>
      <li><%=employee.name%></li>
    <%end%>
  </ul>

<% else %>
    <p><strong>This project has no employees</strong></p>
    <p><a href="/projects">Add an employee to the database</a></p>
<% end %>
<hr>

<h3>Update project information:</h3>
  <form action="/projects/<%= @project.id() %>" method="post">
  <input name="_method" value="patch" type="hidden">
  <% if @unassigned_employees.any? %>
    <label>Add projects</label><br>
    <% @unassigned_employees.each do |employee|%>
      <label>
        <%="<input type='checkbox' name='employees_to_add[]' value='#{employee.id}'>#{employee.name}"%>
      </label><br>
    <% end %>
  <% end %>

  <% if @project_employees.any? %>
    <label>Remove employee from projects</label><br>
    <% @project_employees.each do |employee|%>
      <label>
        <%="<input type='checkbox' name='employees_to_delete[]' value='#{employee.id}'>#{employee.name}"%>
      </label><br>
    <% end %>
  <% end %>
  <button type="submit">Submit</button>
</form>
<hr>
